.head{
    padding-left: 10%;
}
main{
    padding-left: 10%;
}
#pp {
    text-decoration: underline;
    font-weight: bold;
    font-size:x-large
}
hr {
        width: 80% ;
        size: 20px ;
        box-align: center;

} 

.orangeLink{
    color: orange;
}
.black-para{
    font-size: 25px;
}

.none {
    list-style-type: none;
}

ul li a {
    color: red;
}
ul ul li {
    color: blue;
}
main p:nth-child(1){
    color: blue;
}
main p:nth-child(3) a{
    background-color: yellow;
}
ul li:nth-child(1) {
    font-weight: bold;
    font-size: 25px;
}